{% extends 'base.html' %}

{% block content %}
<div class="grid_3">
    <div class="sidebar_box">
        <h3>My Classes</h3>
        <div id="classlist" class="sidebar_content">
        </div>
    </div>
    <div class="sidebar_box">
        <h3>Class Projects</h3>
        <div id="projectlist" class="sidebar_content">
        </div>
    </div>
    <div class="sidebar_box">
        <h3>Files</h3>
        <div id="filelist" class="sidebar_content">
        </div>
    </div>
</div>
<div id="code_area" class="grid_10">
<script type="text/javascript" src="/static/edit_area/edit_area_full.js"></script>
<textarea id="code_editor">Please load or create a file using the navigation at the left.
    
First, select a class, then create or select a project. Finally, create or
select a file to be edited.
</textarea>
<script type="text/javascript" defer="defer">
        editAreaLoader.init({
            id : "code_editor",
            'is_editable': false,
            'is_multi_file': false,
            'min_width': 580,
            'min_height': 400,
            'allow_toggle': false,
            'toolbar': 'save,|,undo,redo,|,syntax_selection,highlight,reset_highlight,|,search,go_to_line,|,help',
            'save_callback' : 'save_file',
            'EA_load_callback': 'ea_load',
            'EA_file_close_callback': 'ea_close',
        });
</script>
    <div class="sidebar_box">
        <h3>Compile Output</h3>
        <div id="compile_output" class="sidebar_content">
        </div>
    </div>
</div>
<div class="grid_3">
    <div class="sidebar_box">
        <h3>Class Participants</h3>
        <div id="userlist" class="sidebar_content">
            Select a classlist to view logged in users
        </div>
    </div>
    <div class="sidebar_box">
        <h3>Chat</h3>
        <div id="chatbox" class="sidebar_content">
            <div id="chat_messages">
            </div>
            <div id="chat_input_box">
                <form onsubmit="return send_chat_message()">
                    <input id="chat_input" type="text" name="chat_message" />
                    <input type="submit" value="send">
                    <button type="button" onclick="share_file();">Share File</button>
                </form>
            </div>

        </div>
    </div>
    To have your image associated with your username, sign your e-mail address up at <a href="http://gravatar.com/">gravatar.com</a>
</div>
<div class="grid_16">
</div>
{% endblock%}

{% block scripts %}
    $(sidebar_setup());
{% endblock%}
