{% extends 'base.html' %}

{% block content %}
<div class="grid_3">
    <div class="sidebar_box">
        <h3>classlist</h3>
        <div id="classlist" class="sidebar_content">
            fake_content
        </div>
    </div>
    <div class="sidebar_box">
        <h3>projects</h3>
        <div class="sidebar_content">
            fake_content
        </div>
    </div>
    <div class="sidebar_box">
        <h3>files</h3>
        <div class="sidebar_content">
            fake_content
        </div>
    </div>
</div>
<div class="grid_10">
    ide
</div>
<div class="grid_3">
    <div class="sidebar_box">
        <h3>chat users</h3>
        <div class="sidebar_content">
            Chat Not yet Implemented
        </div>
    </div>
    <div class="sidebar_box">
        <h3>chat box</h3>
        <div class="sidebar_content">
            Chat Not Yet Implemented
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}
    $(sidebar_setup());
{% endblock%}
