{% extends 'base.html' %}

{% block content %}
<div class="grid_3">
    <div class="sidebar_box">
        <h3>classlist</h3>
        <div id="classlist" class="sidebar_content">
        </div>
    </div>
    <div class="sidebar_box">
        <h3>projects</h3>
        <div id="projectlist" class="sidebar_content">
        </div>
    </div>
    <div class="sidebar_box">
        <h3>files</h3>
        <div id="filelist" class="sidebar_content">
        </div>
    </div>
</div>
<div id="code_area" class="grid_10">
<script type="text/javascript" src="/static/edit_area/edit_area_full.js"></script>
<textarea id="code_editor">Please load or create a file using the navigation at the left.
    
First, select a class, then create or select a project. Finally, create or
select a file to be edited.
</textarea>
<script type="text/javascript" defer="defer">
        editAreaLoader.init({
            id : "code_editor",
            'is_editable': false,
            'is_multi_file': false,
            'min_width': 580,
            'min_height': 380,
            'allow_toggle': false,
            'toolbar': 'save,|,undo,redo,|,syntax_selection,highlight,reset_highlight,|,search,go_to_line,|,help',
            'save_callback' : 'save_file',
            'EA_load_callback': 'ea_load'
        });
</script>
</div>
<div class="grid_3">
    <div class="sidebar_box">
        <h3>chat users</h3>
        <div id="userlist" class="sidebar_content">
            Select a classlist to view list of users
        </div>
    </div>
    <div class="sidebar_box">
        <h3>chat box</h3>
        <div class="sidebar_content">
            Chat Not Yet Implemented
        </div>
    </div>
</div>
{% endblock%}

{% block scripts %}
    $(sidebar_setup());
{% endblock%}
