{% extends "base.html" %}

{% block content %}
<p>
The Virtual Programming Lab is an Athabasca University initiative to allow
students to interact with their tutors and each other while developing
their projects. The lab provides a development environment and common
development tools to aid the student as they study, including compilation
output, language-specific syntax highlighting, and the ability to view
certain files online. In addition,
it allows students to easily share code with their tutor and other
students for feedback and interactive aid. As they work, students
can chat in realtime and request hints from their tutor.
</p>
{% endblock %}
