{% load project_viewable %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}{{title|default:"VPL"}}{% endblock %}</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <link rel="shortcut icon" href="/static/images/favicon.ico"/>
        <link rel="stylesheet" href="/static/reset.css" type="text/css" />
        <link rel="stylesheet" href="/static/960.css" type="text/css" />
        <link rel="stylesheet" href="/static/styles.css" type="text/css" />
        <script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
        <script type="text/javascript" src="/static/jquery.url.packed.js"></script>
        <script type="text/javascript" src="/static/vpl.js"></script>
    </head>
    <body>
        <div class="container_16">
            <a href="/"><h1 class="grid_10"> </h1></a>
            <ul id="nav" class="grid_16">
                {% block extra_menus %}
                {% endblock %}
                <li id="about_item"><a href="#">About</a>
                    <ul>
                        <li><a href="/about/">About</a></li>
                        <li><a href="/contact/">Contact</a></li>
                    </ul>
                </li>
                {% if user|admin_link %}
                    <li><a href="#">Admin</a>
                        <ul>
                            <li><a href="/admin/">Admin</a></li>
                            {% if perms.auth.change_user %}
                            <li><a href="/admin/auth/user/">Participants</a></li>
                            {% endif %}
                            {% if perms.lab.change_lab %}
                            <li><a href="/admin/lab/lab/">Labs</a></li>
                            {% endif %}
                            {% if perms.classlist.change_classlist %}
                            <li><a href="/admin/classlist/classlist/">Classes</a></li>
                            {% endif %}
                            {% if perms.project.change_project %}
                            <li><a href="/admin/project/project/">Projects</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li><a href="#">Account</a>
                    <ul>
                        {% if not user.is_authenticated %}
                            <li><a href="/accounts/register/">Register</a></li>
                            <li><a href="/accounts/login/">Login</a></li>
                        {% else %}
                            <li><a href="/accounts/password/change/">Change Password</a></li>
                            <li><a href="/accounts/logout/">Logout</a></li>
                        {% endif  %}
                    </ul>
                </li>
            </ul>
            <div class="clear"></div>
            {% block content %}
            {% endblock %}
            <script type="text/javascript" defer="defer">
                {% block scripts %}
                {% endblock %}
            </script>
        </div>
    </body>
</html>
