{% extends "base.html" %}

{% block content %}
<p>
Welcome to SCIS Virtual Programming Lab (SCIS-VPL)! Within SCIS-VPL, registered users can carry out a variety of programming tasks and projects. Especially, they can interact with tutors and other lab participants, and share code for peer or tutor review, and get the help they need more timely. 
</p>
<br />
{% if user.is_anonymous %}
    <p>
    Already a member? <a href="/accounts/login/">Click here</a> to log in.
    </p>
    <p>New to
    SCIS-VPL? <a href="/accounts/register/">Click here</a> to
    register.
    </p>
{% else %}
    <p><a href="/ide/">Click here</a> to access the VPL IDE.</p>
{% endif %}
{% endblock %}
