{% extends "base.html" %}

{% block content %}
<p>
Welcome to the Virtual Programming Lab! Registered users can participate
in labs on a variety of programming topics. They can interact with tutors and
other lab participants, and share code for peer or tutor review.
</p>
<br />
{% if user.is_anonymous %}
    <p>
    Already a member? <a href="/accounts/login/">Click here</a> to log in.
    </p>
    <p>New to
    the Virtual Programming lab? <a href="/accounts/register/">Click here</a> to
    register.
    </p>
{% else %}
    <p><a href="/ide/">Click here</a> to access the VPL IDE.</p>
{% endif %}
{% endblock %}
