{% extends "base.html" %}

{% block content %}
<p>
Welcome to SCIS Virtual Programming Lab (SCIS-VPL)! Within SCIS-VPL, registered users can carry out a variety of programming tasks and projects. Especially, they can interact with tutors and other lab participants, and share code for peer or tutor review, and get the help they need more timely. 
</p>
<br />
{% if user.is_anonymous %}
    <div class="index_login">
        Already a member? <a href="/accounts/login/">Click here</a> to log in.
    </div>
    <div class="index_register">
        New to SCIS-VPL? Fill out the form below to register
        <form method="POST" action="/accounts/register/">
            <table>
                {% csrf_token %}
                {{registration_form.as_table}}
                <tr>
                    <td><input type="submit" value="Register" /></td>
                </tr>
            </table>
        </form>
    </div>
{% else %}
    <p><a href="/ide/">Click here</a> to access the SCIS-VPL IDE.</p>
{% endif %}
{% endblock %}
