<ul>
{% for file in files %}
<li><a href="javascript:load_file({{file.id}});">{{file}}</a> <a style="float:
    right" href="javascript:view_file('{{file.project.classlist.class_name}}',
    '{{file.project.name}}', '{{file.name}}');"><img
    src="/static/images/icons/view.png" alt="View File" title="View File"/></a><a style="float: right" href="/projects/download/{{file.id}}"><img
    src="/static/images/icons/download.png" alt="Download File" title="Download File" /></a></li>
{% endfor %}
<li><a href="{% url create_file project.id %}">Create File</a></li>
<li><a href="{% url upload_new_file project.id %}">Upload File</a></li>
</ul>
