<ul>
    <li><a href="/projects/download_project/{{project.id}}/">Download</a></li>
    {% if project.is_compilable %}
    <li><a href="javascript:compile_project({{project.id}});">Compile</a></li>
    {% endif %}
    <li><a href="/projects/delete/{{project.id}}/">Delete</a></li>
    <li><a href="/projects/edit/{{project.id}}/">Edit</a></li>
    <li><a href="/projects/create_file/{{project.id}}/">Create File</a></li>
    <li><a href="/projects/upload_new_file/{{project.id}}/">Upload New File</a></li>
</ul>
