{% extends 'base.html' %}

{% block content %}
<div class="grid_16">
{% if is_new %}
Select a file below to choose a new file to upload to the "{{project.name}}" project. If you upload a zip file, the files inside the archive will be extracted into the project individually.
{% else %}
Upload a new file to replace the "{{file}}" file on "{{project.name}}" project:
{% endif %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Upload" />
</form>
<p>
Valid editable files must have one of these extensions:
<ul>
    <li>html</li>
    <li>java</li>
    <li>css</li>
    <li>js</li>
    <li>c</li>
    <li>cpp</li>
    <li>py</li>
</ul>
Valid viewable files can be any of the above or web images:
<ul>
    <li>png</li>
    <li>jpg</li>
    <li>gif</li>
</ul>
Any other file extensions (.class, .exe, etc) will be interpreted as binary
files and will not be editable.
</p>
</div>
{% endblock %}
