Chatting with <span style="font-style: italic">{{peer}}</span>
<div>
    {% for message in chat_messages %}
        {% ifequal message.message_type "send_file" %}
            {% ifequal message.sender user %}
            <em>You have shared {{message.fileinfo.filename}} with {{message.receiver}}.</em>
            {% else %}
            <em>{{message.sender}} has shared <a href="javascript:view_shared_file({{message.fileinfo.id}}, '{{message.fileinfo.filename}}');">{{message.fileinfo.filename}}</a> with you.</em>
            {% endifequal %}
        {% else %}
            {% ifequal message.sender user %}<span class="sender">{% else %}<span class="receiver">{% endifequal %}{{message.sender}}</span>: {{message.message}}
        {% endifequal %}<br />
    {% endfor %}
</div>
