body {
    font-family: helvetica,verdana,arial,sans;
    background-image: url('images/page_background.png');
    background-repeat: repeat-x;
}
h1 {
    background-image: url('images/header.png');
    background-repeat: no-repeat;
    width: 392px;
    height: 40px;
    margin-top: 12px;
}
#nav {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #667;
    padding-top: 4px;
    padding-bottom: 4px;
    background-image: url('images/menubar_bg.png');
    background-repeat: repeat-x;
}
#nav li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    padding-right: 10px;
    border-right-style: solid;
    border-right-color: #aab;
    border-right-width: 1px;
}
#nav a {
    font-weight: bold;
    color: #aab;
    text-decoration: none;
}
.sidebar_box {
    border-color: #aab;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 5px;
    background-color: #eef;
} 
.sidebar_box h3 {
    background-image: url('images/menubar_bg.png');
    background-repeat: repeat-x;
    background-color: #667;
    color: #aab;
    text-align: center;
    cursor: pointer;
}
.sidebar_content {
    display: none;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 2px;
}
.sidebar_content a {
    color: #88a;
    text-decoration: none;
    font-size: small;
}
.sidebar_content a.selected {
    color:#667;
    font-weight: bold;
}
#chat_messages {
    font-size: small;
    width: 150px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #aab;
    overflow: auto;
}
#chat_input_box {
    display: none;
}
#chat_input {
    font-size: small;
    border-style: solid;
    border-width: 1px;
    border-color: #aab;
    width: 150px;
}
.sender {
    font-weight: bold;
    color: #a66;
}
.receiver {
    font-weight: bold;
    color: #66a;
}
.unread a {
    font-weight: bold;
    color: #66a;
}
.online a {
    font-weight: bold;
    color: #6a6;
}
.instructor a {
    font-weight: italic;
    color: #a66;
}
.offline a {
    color: #666;
}
.errorlist li {
    color:#e66;
}
#userlist img {
    vertical-align: middle;
    margin-right: 10px;
}
#userlist li {
    margin-bottom: 2px;
    padding-bottom: 2px;
}
