body {
    font-family: helvetica,verdana,arial,sans;
    background-image: url('images/page_background.png');
    background-repeat: repeat-x;
    color: #001;
}
h1 {
    background-image: url('images/header.png');
    background-repeat: no-repeat;
    width: 391;
    height: 48px;
    margin-top: 12px;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #88a;
}
a:hover {
    color: #667;
}
#nav {
    padding: 0;
    margin-bottom: 3px;
    font-weight: bold;
    min-height: 1.5em;
    background-color: #667;
    background-image: url('images/menubar_bg.png');
    background-repeat: repeat-x;
}
#nav li {
    list-style: none;
    float: left;
}
#nav li a {
    border-left: solid 1px #aab;
    display: block;
    padding: 3px 8px;
    color: #aab;
    font-weight: bold;
    text-decoration: none;
}
#nav li ul {
    display: none;
    width: 10em;
    background-color: #aab;
}
#nav li:hover ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
}
#nav li:hover li {
    float: none;

}
#nav li:hover li a {
    background-color: #667;
    color: #aab;
    border-bottom: solid 1px #aab;
}
#nav li li a:hover {
    color: #88a;
    background-image: url('images/menubar_bg.png');
    background-repeat: repeat-x;
}
#breadcrumbs {
    color: #667;
}
#logged_in {
    color: #667;
}
#registration_forms {
    color: #aab;
}
.index_register {
    float: left;
    vertical-align: bottom;
}
.index_register form {
    padding-top: 5px;
    margin-right: 60px;
    border-top-width: 1px;
    border-top-color: #aab;
    border-top-style: solid;
}
.index_register input[type=submit] {
    float: right;
    margin-top: 10px;
}
.index_register th {
    text-align: left;
    color: #000;
}
.sidebar_box {
    font-size: small;
    border-color: #aab;
    border-width: 1px;
    border-style: solid;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #eff;
} 
.sidebar_box h3 {
    font-size: medium;
    background-image: url('images/menubar_bg.png');
    background-repeat: repeat-x;
    background-color: #667;
    color: #aab;
    text-align: center;
    cursor: pointer;
    padding-bottom: 3px;
}
.sidebar_content li {
    clear: both;
}
.sidebar_content {
    display: none;
    padding-left: 3px;
    padding-top: 2px;
    padding-right: 2px;
    padding-bottom: 3px;
}
.sidebar_content a {
    color: #88a;
    text-decoration: none;
    font-size: small;
}
.sidebar_content a.selected {
    color:#446;
    background-color: #eef3f3;
    font-weight: bold;
}
.list_separator {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #aab;
    margin-top: 2px;
}
#chat_messages {
    font-size: small;
    width: 150px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #aab;
    overflow: auto;
}
#chat_input_box {
    display: none;
}
#chat_input {
    font-size: small;
    border-style: solid;
    border-width: 1px;
    border-color: #aab;
    width: 150px;
}
.sender {
    font-weight: bold;
    color: #a66;
}
.receiver {
    font-weight: bold;
    color: #66a;
}
.unread a {
    font-weight: bold;
    color: #66a;
}
.online a {
    font-weight: bold;
    color: #6a6;
}
.user_online {
    font-weight: bold;
    color: #6a6;
    font-size: large;
    border-bottom-style: solid;
    border-bottom-color: #aab;
    border-bottom-width: 1px;
}
.instructor a {
    font-weight: italic;
    color: #a66;
}
.offline a {
    color: #666;
}
.errorlist li {
    color:#e66;
}
#userlist img {
    vertical-align: middle;
    margin-right: 10px;
}
#userlist li {
    margin-bottom: 2px;
    padding-bottom: 2px;
}
#compile_output {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
}
.button, input[type=submit], button {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: #667;
    background-color: #abc;
    color: #557;
    font-weight: normal;
    font-size: 1.2em;
    height: 1.5em;
}
