body {
    font-family: helvetica,verdana,arial,sans;
    #001;
}
h1 {
    font-size: 24px;
    color: #667;
}
#nav {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #667;
    padding-top: 4px;
    padding-bottom: 4px;
}
#nav li {
    list-style: none;
    display: inline;
}
#nav a {
    font-weight: bold;
    color: #aab;
    text-decoration: none;
}
.sidebar_box {
    border-color: #aab;
    border-width: 1px;
    border-style: solid;
    margin-bottom: 5px;
} 
.sidebar_box h3 {
    text-align: center;
    cursor: pointer;
}
.sidebar_content {
    display: none;
    padding-left: 3px;
}
.sidebar_content a {
    color: #aab;
    text-decoration: none;
    font-size: small;
}
.sidebar_content a.selected {
    color:#667;
    font-weight: bold;
}
#chat_messages {
    font-size: small;
    width: 150px;
    height: 300px;
    border-style: solid;
    border-width: 1px;
    border-color: #aab;
    overflow: auto;
}
#chat_input_box {
    display: none;
}
#chat_input {
    font-size: small;
    border-style: solid;
    border-width: 1px;
    border-color: #aab;
    width: 150px;
}
.sender {
    font-weight: bold;
    color: #a66;
}
.receiver {
    font-weight: bold;
    color: #66a;
}
.unread a {
    font-weight: bold;
    color: #66a;
}
.online a {
    font-weight: bold;
    color: #6a6;
}
.instructor a {
    font-weight: italic;
    color: #a66;
}
.offline a {
    color: #666;
}
.errorlist li {
    color:#e66;
}
